# http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space

[CMakeLists.txt]
indent_size = 2

[*.{c,h}]
indent_style = tab
indent_size = 8

[*.py]
indent_size = 4

[*.tcl]
indent_size = 4

[*.v]
indent_size = 2
